<!-- include header -->
<%- include ('include/_header')%>

<!-- main site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between border">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient">New User <i class="fas fa-user"></i></span>
      </a>
    </div>
    <!-- form handling   -->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
      
            <th>Name</th>
            <th>Em@il</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%- include ('include/_show')%>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main site -->
<!-- included footer file -->
<%- include ('include/_footer') %>
